<div class="questions-outer">
    <div class="container">
        <div class="row">
            <form class="w-100">
                <div style="position:relative;width:100%;">
                    <h3 class="mt-5">Question 1 of 80:</h3>
                    <p id="qtext">सध्या राज्यसभेची सभासद संख्या किती आहे?</p>

                    <div class="altcontainer">
                        <label class="radiocontainer" id="label4">२००
                            <input type="radio" name="otsui" id="4" onclick="clickRadio(this)" value="4">
                            <span class="checkmark"></span>
                        </label>
                        <label class="radiocontainer" id="label2">२५०
                            <input type="radio" name="otsui" id="2" onclick="clickRadio(this)" value="2">
                            <span class="checkmark"></span>
                        </label>
                        <label class="radiocontainer" id="label1">२६०
                            Sheets
                            <input type="radio" name="otsui" id="1" onclick="clickRadio(this)" value="1">
                            <span class="checkmark"></span>
                        </label>
                        <label class="radiocontainer" id="label3">३००
                            Sheets<input type="radio" name="otsui" id="3" onclick="clickRadio(this)" value="3">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
                <div class="ansbuttoncontainer">
                    <button type="submit" onclick="clickNextButton(1)" class="start-test-btn previous">Previous</button>
                    <button type="submit" onclick="clickNextButton(1)" class="start-test-btn next">Next</button>
                    <button type="submit" onclick="clickNextButton(1)" class="start-test-btn submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>