<div class="main-page">
    <div class="dashboard-heading">
        <div class="left-side">
            <a class="navbar-brand" href="http://www.sachindhawale.org">
                <img src="https://fplogoimages.withfloats.com/actual/5d32d485edda8c000116855b.jpg" alt="logo image"
                    class="theme-logo">
            </a>
        </div>
        <div class="middle-side">
            <!-- <h3 class="pt-4">SACHIN DHAWALE'S</h3>
            <h3>MATHS & REASONING ACADEMY</h3> -->
            <h3>राज्यसेवा पूर्व परीक्षा २०२० CSAT टेस्ट सिरीज</h3>
        </div>
    </div>
    <div class="center-row">
        <div class="sample-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
            has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
            type and scrambled it to make a type specimen book. <a href="#">Click here for sample test</a></div>
        <div class="pay-btn"><span class="start-test-btn">Pay Now</span></div>
    </div>
    <div class="container">
        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                    <div class="d-inline-block card-heder">
                        <p class="card-text">दिनांक:</p>
                        <p class="card-text">विषय:</p>
                        <p class="card-text">वेळ:</p>
                        <p class="card-text">विश्लेषण:</p>
                    </div>
                    <div class="d-inline-block card-body-inner">
                        <p class="card-text ml-4">शनिवार १५-०२-२०२०</p>
                        <p class="card-text ml-4">CSAT</p>
                        <p class="card-text ml-4">दुपारी १२ ते ०२</p>
                        <p class="card-text ml-4">दुपारी ०३ ते ०६</p>
                    </div>
                    <div><span [routerLink]="['/questions-options']" class="start-test-btn">Start Test</span></div>
                </div>

            </div>
            <div class="card">
                <div class="card-body">
                    <div class="d-inline-block card-heder">
                        <p class="card-text">दिनांक:</p>
                        <p class="card-text">विषय:</p>
                        <p class="card-text">वेळ:</p>
                        <p class="card-text">विश्लेषण:</p>
                    </div>
                    <div class="d-inline-block card-body-inner">
                        <p class="card-text ml-4">शनिवार १५-०२-२०२०</p>
                        <p class="card-text ml-4">CSAT</p>
                        <p class="card-text ml-4">दुपारी १२ ते ०२</p>
                        <p class="card-text ml-4">दुपारी ०३ ते ०६</p>

                    </div>
                    <div><span [routerLink]="['/questions-options']" class="start-test-btn">Start Test</span></div>
                </div>

            </div>
            <div class="card">
                <div class="card-body">
                    <div class="d-inline-block card-heder">
                        <p class="card-text">दिनांक:</p>
                        <p class="card-text">विषय:</p>
                        <p class="card-text">वेळ:</p>
                        <p class="card-text">विश्लेषण:</p>
                    </div>
                    <div class="d-inline-block card-body-inner">
                        <p class="card-text ml-4">शनिवार १५-०२-२०२०</p>
                        <p class="card-text ml-4">CSAT</p>
                        <p class="card-text ml-4">दुपारी १२ ते ०२</p>
                        <p class="card-text ml-4">दुपारी ०३ ते ०६</p>
                    </div>
                    <div><span [routerLink]="['/questions-options']" class="start-test-btn">Start Test</span></div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="d-inline-block card-heder">
                        <p class="card-text">दिनांक:</p>
                        <p class="card-text">विषय:</p>
                        <p class="card-text">वेळ:</p>
                        <p class="card-text">विश्लेषण:</p>
                    </div>
                    <div class="d-inline-block card-body-inner">
                        <p class="card-text ml-4">शनिवार १५-०२-२०२०</p>
                        <p class="card-text ml-4">CSAT</p>
                        <p class="card-text ml-4">दुपारी १२ ते ०२</p>
                        <p class="card-text ml-4">दुपारी ०३ ते ०६</p>
                    </div>
                    <div><span [routerLink]="['/questions-options']" class="start-test-btn">Start Test</span></div>
                </div>

            </div>
            <div class="card">
                <div class="card-body">
                    <div class="d-inline-block card-heder">
                        <p class="card-text">दिनांक:</p>
                        <p class="card-text">विषय:</p>
                        <p class="card-text">वेळ:</p>
                        <p class="card-text">विश्लेषण:</p>
                    </div>
                    <div class="d-inline-block card-body-inner">
                        <p class="card-text ml-4">शनिवार १५-०२-२०२०</p>
                        <p class="card-text ml-4">CSAT</p>
                        <p class="card-text ml-4">दुपारी १२ ते ०२</p>
                        <p class="card-text ml-4">दुपारी ०३ ते ०६</p>

                    </div>
                    <div><span [routerLink]="['/questions-options']" class="start-test-btn">Start Test</span></div>
                </div>

            </div>
            <div class="card">
                <div class="card-body">
                    <div class="d-inline-block card-heder">
                        <p class="card-text">दिनांक:</p>
                        <p class="card-text">विषय:</p>
                        <p class="card-text">वेळ:</p>
                        <p class="card-text">विश्लेषण:</p>
                    </div>
                    <div class="d-inline-block card-body-inner">
                        <p class="card-text ml-4">शनिवार १५-०२-२०२०</p>
                        <p class="card-text ml-4">CSAT</p>
                        <p class="card-text ml-4">दुपारी १२ ते ०२</p>
                        <p class="card-text ml-4">दुपारी ०३ ते ०६</p>
                    </div>
                    <div><span [routerLink]="['/questions-options']" class="start-test-btn">Start Test</span></div>
                </div>

            </div>
        </div>
    </div>